<div class="row m-2 ">
    <div class="col-lg-3 m-3" *ngFor="let clo of listData">
        <div class="card" style="width: 10 rem;">
            <img [src]="clo.image" class="card-img-top" alt="clo.alt">
            <div class="card-body">
                <h5 class="card-title">{{clo.price|currency:'INR'}}</h5>
                <p class="card-text">{{clo.name}}</p>
                <a [routerLink]="['/product',clo._id]"  class="btn btn-primary">View Item</a>
            </div>
        </div>
    </div>
</div>
